<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>{{ page.title }}</title>

        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <meta property="og:title" content="{{ page.title }}" />
        <meta property="og:locale" content="en" />
        <meta name="description" content="{{ page.desc }}" />
        <meta property="og:description" content="{{ page.desc }}" />
        <link rel="canonical" href="{{ page.canonical }}" />
        <meta property="og:url" content="{{ page.canonical }}" />
        <meta property="og:site_name" content="Bonk Leagues" />
        <meta property="og:image" content="https://bonkleagues.github.io/static/img/logo.png" />
        <meta name="theme-color" content="#fb016e">

        <link rel="icon" type="image/png" href="/static/img/logo.png">
        <link rel='stylesheet' type='text/css' href='/static/css/{{ page.styleToUse }}.css#29'>

        {% if page.sel == 'skins' %}
        <link rel='stylesheet' type='text/css' href='/static/css/jquery-ui.min.css#1'>
        <link rel='stylesheet' type='text/css' href='/static/css/jquery.tagit.css'>
        {% endif %}

        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="static/css/remodal.css">
        <link rel="stylesheet" href="static/css/remodal-default-theme.css">

        <meta name="google-site-verification" content="FEijvMGwCNkxbshW2jR9aTTYvpJFDkejSXJRR7cPfpQ" />
        <meta name="msvalidate.01" content="D8571762A86E4870190A09991372AD65" />
        <meta name="wot-verification" content="e03a7921f283c7275f03"/>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112446948-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-112446948-1');
        </script>

        <!-- more metadata -->
        <script type="application/ld+json">
            {
                "@context": "http://schema.org",
                "@type": "Organization",
                "url": "https://bonkleagues.github.io",
                "logo": "https://bonkleagues.github.io/static/img/logo.png",
                "name": "Bonk Leagues",
                "image": "https://bonkleagues.github.io/static/img/logo.png",
                "description": "Bonk Leagues - the best tools for bonk.io, featuring a skin manager, XP checker and more for http://bonk.io/"
            }
        </script>
    </head>
    <body>
        <header>
            <a href="/" id="defaulta">
                <img src="/static/img/logo.png" id="logo" draggable="false">
                <h1>{{ page.shorttitle }}<span id="typing">_</span>{% if page.sel == 'skins' %}<span style="font-size:18px;vertical-align:top">v4.0</span>{% endif %}</h1>
            </a>
            <br/>
            <nav>
                <!--<a{% if page.sel == 'home' %} class="sel"{% endif %} href="/index.html">Home</a>-->
                <!--<a{% if page.sel == 'client' %} class="sel"{% endif %} href="/client.html">Client</a>-->
                <a{% if page.sel == 'editor' %} class="sel"{% endif %} href="/editor.html">Skin Editor</a>
                <a{% if page.sel == 'skins' %} class="sel"{% endif %} href="/skins.html">Skin Manager</a>
                <span id="more">More &#9660;
                    <div class="moredd">
                        <a href="/xpchecker.html">XP Checker</a><br/>
                        <a href="/quickplay.html">Quick Play Map Checker</a><br/>
                        <a href="/serverstatus.html">Bonk.io Server Status</a>
                    </div>
                </span>
                <a href="https://discord.gg/RadQ7xx" id="discordlink" target="_blank"><i class="fab fa-discord"></i></a>
            </nav>
        </header>
        <section>
            <!-- emergency notice 
                <span style="position:absolute;top:0;left:0;width:100%;background:red;color:#111;"><b>Important: </b>we are currently having (hopefully temporary) server issues with Bonk Leagues CORS-enabled requests, meaning the Skin Manager, XP checker, etc. is DOWN.<br/>We will keep you updated in the Bonk Leagues Discord server.</span>
            -->
            <!-- good notice?
                <span style="position:absolute;top:0;left:0;width:100%;color:rgb(132, 187, 60);"><b>Servers are back! </b>Our servers are back for now, they may be a little slower than usual. Sorry for the long downtime! (it wasn't our fault) &macr;\_(ツ)_/&macr;</span>
            -->