@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');
header{
    background: linear-gradient(120deg, #ef00ef 0%,#3848f4 100%);
    font-family: 'Sedgwick Ave', cursive;
    color:#0077ff;
    box-shadow: none;
}
nav a, #more{
    color:#0077ff;
}
header h1{
    text-transform: none;
}
body, nav a:hover, #more:hover, nav .sel, .button, .skinslot, .skin, .parthead, .moredd{
    background: linear-gradient(45deg, #59a821 0%,#84000f 100%);
}
section, .parthead, .button, select, input[type=text],input[type=password], #outerprogress span, #loggedin h1, .jscolor, ul.tagit, .skinslot, .skin .buttons button, #statusbar, .cblabel, .adbnote{
    font-family: serif !important;
}
#april{
    display:block !important;
    position:fixed;
    bottom:5px;
    right:5px;
}