@import url('https://fonts.googleapis.com/css?family=VT323');
body,html{
    padding:0;
    margin:0;
}
body{
    background-color:#111;
}
header{
    background:#013e79;
    width:100%;
    text-align:center;
    color:#fb016e;
    padding:30px 0;
    font-family:'VT323', 'Consolas', monospace;
    user-select: none;
    padding-bottom:40px;
    z-index:999;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}
header h1{
    font-size:70px;
    text-transform:uppercase;
    font-weight:normal;
    display:inline-block;
    vertical-align:middle;
    margin-bottom:30px;
}
@media screen and (max-width: 480px) {
    header h1 {
        display:none;
    }
    header img{
        margin-bottom:10px;
    }
    #more{
        display:none !important;
    }
}
#defaulta{
    color:inherit;
    text-decoration:none;
}
#logo{
    width:70px;
    display:inline-block;
    vertical-align:middle;
    margin-right:20px;
    margin-top:15px;
}
#typing{
    display:inline-block;
    margin-left:5px;
    animation:blink 1s steps(2, start) infinite;
}
@keyframes blink{
    to {
        visibility: hidden;
    }
}
nav a, #more{
    color:#fb016e;
    text-decoration:none;
    font-size:26px;
    padding:4px 10px;
    margin:0px 3px;
    transition:all 0.1s;
    cursor:pointer;
}
nav a:hover, #more:hover{
    background:#fb016e;
    color:#013e79;
}
#discordlink{
    color:#7289DA;
    font-size:22px;
}
#discordlink:hover{
    background:#7289DA;
    color:#013e79;
}
nav .sel{
    background:#fb016e;
    color:#013e79;
}
section{
    color:#ccc;
    font-family:'Consolas', monospace;
    text-align:center;
    font-size:18px;
    padding:0 20px;
    padding-top:52px;
    padding-bottom:50px;
}
section a, #cusa{
    color:#fb016e;
}
.parthead{
    background:#fb016e;
    color:#111;
    display:inline-block;
    font-size:28px;
    padding:4px 10px;
    font-family:'VT323', 'Consolas', monospace;
    text-transform:uppercase;
}
ul{
    list-style: none;
    padding:0;
    margin-left:-20px;
}
ul li{
    padding:0;
}
.button{
    background:#fb016e;
    font-size:42px;
    text-decoration:none;
    color:#111;
    padding:15px 30px;
    font-family:'VT323', 'Consolas', monospace;
    text-transform:uppercase;
    margin-left:10px;
    display:inline-block;
    animation:sizes 1s infinite alternate;
    box-shadow:5px 5px 0px 0px #b30050;
    cursor:pointer;
    border:0;
}
@keyframes sizes{
    0% {
        transform:scale(1);
    }
    100%{
        transform:scale(1.1);
    }
}
#instructions,#game{
    display:none;
}
#instructions img, .shadowimg{
    border:3px solid #fb016e;
    box-shadow:5px 5px 0px 0px #b30050;
}
#gamecont{
    border:3px solid #fb016e;
    z-index:997;
}
.homethumb{
    transition:.5s all;
    box-shadow:5px 5px 0px 0px #00182e;
    cursor:pointer;
    margin-right:10px;
    margin-bottom:10px;
    max-width:325px;
}
.homethumb:hover{
    transform: scale(1.02);
    box-shadow:10px 10px 0px 0px #00182e;
}
.testimonial{
    border:2px solid #fb016e;
    color: #fb016e;
    padding:30px;
    max-width:400px;
    margin-bottom:10px;
    display:inline-block;
    box-shadow:3px 3px 0px 0px #b30050;
    vertical-align:middle;
}
hr{
    border:1px solid #222;
    width:50%;
}
.sampleskin{
    width:230px;
    display:inline-block;
    padding-bottom:15px;
    border-left:1px solid #444;
    padding-top:15px;
    border-right:1px solid #444;
    margin-bottom:10px;
    margin-left:-11px;
}
.sampleskin img{
    margin-bottom:10px;
    border:2px solid #fb016e;
    border-radius:360px;
    box-shadow:5px 5px 0px 0px #b30050;
    width:100px;
    height:100px;
}
.moredd {
    display:none;
    position:absolute;
    background-color: #fb016e;
    min-width: 275px;
    box-shadow:5px 5px 0px 0px #b30050;
    z-index: 1;
    margin-left:-10px;
    margin-top:3px;
    text-align:left;
    padding-left:15px;
}
#more{
    position:relative;
    display:inline-block;
}
#more:hover .moredd {
    display:block;
}
.moredd a{
    color:#013e79;
    line-height:50px;
    padding:5px 10px;
    width:100%;
}
.moredd a:hover{
    background-color: #013e79;
    color:#fb016e;
}
select{
    background:#fb016e;
    font-size:20px;
    text-decoration:none;
    color:#111;
    font-family:'VT323', 'Consolas', monospace;
    text-transform:uppercase;
    margin-left:10px;
    display:inline-block;
    box-shadow:5px 5px 0px 0px #b30050;
    cursor:pointer;
    border:0;
    padding:8px 15px;
    vertical-align:bottom;
    margin-bottom:-7px;
}
select:focus{
    outline:none;
}
#adbnote{
    display:none;
    font-family:'VT323', 'Consolas', monospace;
    color:#fb016e;
    max-width:400px;
    margin:0 auto;
    font-size:22px;
    padding:10px;
    box-shadow:5px 5px 0px 0px #b30050;
    border:3px solid #fb016e;
}
#e404{
    color:#111;
    font-size:200px;
    font-family:'VT323', 'Consolas', monospace;
    text-shadow: 0px 0px 15px rgba(251, 1, 110, 1);
}
::-webkit-scrollbar-button, ::-webkit-scrollbar-track{
    display:none;
}
::-webkit-scrollbar-thumb{
    background-color:#fb016e;
}
::-webkit-scrollbar-thumb:hover{
    background-color:#b30050;
}
::-webkit-scrollbar{
    width:7px;
    height:7px;
    overflow:overlay;
}
input[type=text],input[type=password]{
    background:#ccc;
    font-size:21px;
    text-decoration:none;
    color:#111;
    padding:5px 10px;
    font-family:'VT323', 'Consolas', monospace;
    margin-left:5px;
    display:inline-block;
    box-shadow:5px 5px 0px 0px #777;
    margin-bottom:20px;
    border:0px;
}
.disabled.button{
    cursor:not-allowed;
    box-shadow:none;
    background:#b30050;
    animation:none !important;
}
input[type=text].disabled,input[type=password].disabled{
    cursor:not-allowed;
    background:#555 !important;
    box-shadow:none;
}
#outerprogress{
    max-width:400px;
    height:30px;
    background:#013e79;
    margin:0 auto;
    margin-top:15px;
    padding:5px;
    position:relative;
}
#innerprogress{
    background:#fb016e;
    height:100%;
}
#outerprogress span{
    position:absolute;
    vertical-align:top;
    font-family:'VT323', 'Consolas', monospace;
    top:4px;
    left:0px;
    font-size:24px;
    text-align:center;
    width:100%;
}
.flex-grid {
    display: flex;
    flex-wrap:wrap;
}
.col {
    flex:1;
    text-align:center;
    padding:0 20px;
    margin-bottom:40px;
}
.statstxtclip{
    line-height:22px;
    max-height:66px;
    overflow:hidden;
}
.statstxtclip:hover{
    max-height:9999px;
}
::selection {
    color: #111; 
    background: #ff2d8b;
}